/*COLOR REFERENCES

Green:      rgb(59,185,76);
Light Gray: rgb(248,248,248);
Dark Gray:  rgb(56,56,56);

*/

/*GENERAL CSS*/

body {
  margin-top: 50px;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 16px;
  /*background: url('../img/tile.jpg') top left repeat;*/
}

/*GLOBAL*/
h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-weight: bold;
}

/*NAVBAR*/

.navbar-brand {
 margin-top: -9px;
}

.navbar a {
  font-size: 15px;
}


/*CAROUSEL SECTION*/

.slider {
  margin-bottom: 50px;
}

/*.carousel-inner {
  height: 400px;
}*/

.carousel-caption {

}


/*INFO SECTION*/

.info a {
  color:inherit;
}

.info .info-content {
  position: absolute;
  top: 60px;
  left: 55px;
  width: 100%;
}

.info .call{
 /*height: 340px;*/
 background-color: lightgray;
 border: solid 1px white;
 padding: 0;
 margin: 0;

}

.info img {
  position: relative;
  opacity: 0.2;
  height: 240px;
  width: 100%;
}

.info h3 {
  background-color: rgba(56,56,56,.3);
  width: 280px;
  padding: 4px;
  color: white;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}

.info h4 {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;

}

.info p {
  font-family: monospace;
  font-weight: bold;
}

.info .call:hover img {
 opacity: .6;
}

.info .call:hover h3 {
   background-color: rgba(56,56,56,.8);
}

/*CALL TO ACTION SECTION*/
.call-to-action{
  height: 200px;
  margin: 20px 0 20px 0;
  background: rgb(59,185,76);
  text-align: center;
}

.call-to-action button{
  width: 300px;
  padding: 15px;

}


/*AMENITIES SECTION*/

.amenities .items {
  padding: 0;
  margin: 0;
  border: 1px solid white;
}

.amenities .container h3 {
  position: absolute;
  background-color: white;
  color: rgba(56,56,56,.8);
  padding: 6px;
  top: 60%;
  font-size: 1.4em;
}
.amenities .amenities-content  {
  position: absolute;
  top: 65%;
  left: 20px;
  width: 100%;
  transform:rotate(3deg);
}

.amenities .items img {
  opacity: 0.8;
  height: 240px;
  width: 100%;
}

.amenities .items:hover img {
  opacity: 1.0;
}

.amenities .items:hover h3{
  background: rgb(59,185,76);
  color: white;
}

/********************************* LOCATION PAGE*************************/

.location-form{
  background-color: rgb(56,56,56);
  color: white;
  margin-top: -50px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.dropdown-menu .active a {
    background: rgb(59,185,76);
}

.form-inline input {
  margin: 8px;
}

#btn-submit {
  width: 200px;
  margin-bottom: 20px;
}

.location-form ul {
  list-style: none;
  padding: 0;
}

.location-form h2, h3 {
  padding: 0 0 15px 0;
  margin: 0;
}

.location-form li {
  /*padding: 0;
  margin: 0;*/
}

.row .maps {
  padding-top: 100px;
}

.location-form i {
  font-size: 1.0em;
  padding: 5px;;
  margin: 0;

}

.location-info {
  background-color: gray;
}

.location-amenities {
  background-color: rgba(63,255,38,.6);
}

.location-amenities h2 {
  text-align: center;

}


.amenities h3 {
  background-color: rgb(59,185,76);
  color: white;
  padding: 10px;
}

.amenities p {
  background-color: rgb(56,56,56);
  color: white;
  padding: 10px;
}

.location-amenities .amenities {
  height:340px;
  background-color: rgb(56,56,56);
  padding:0px;
  margin: 10px;
}

/****************************** END LOCATION PAGE*************************/

/*******************************GUEST PASS PAGE**************************/

.hero-section h1 {
  text-align: center;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

#pass-page-button {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.guest-pass-form {
  margin-bottom: 50px;
}

.guest-pass-form h3,p,label{
  color: rgba(56,56,56,.8);
}


/*****************************END GUEST PASS PAGE************************/

/************************PERSONAL TRAINING PAGE**************************/
.hero-section-personal-training .jumbotron {

}


/********************END PERSONAL TRAINING PAGE**************************/

/*FOOTER*/

footer {
  margin-top: 30px;
  background-color: rgb(248,248,248);
  border-top: solid 8px rgb(112,112,112);
  height: 120px;
}

.footer span {
  font-size: 12px;
  position: absolute;
  left: 50px;
  top: 30px;
}


/*SOCIAL MEDIA ICONS*/
/* Style all font awesome icons */
.fa {
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/*END FOOTER*/

.form-group {
  margin: 4px;
}

/*MODAL*/
#first-name {
  width: 240px;
  margin-right: 10px;

}

#last-name {
  width: 240px;
}

#email {
    width: 240px;
      margin-right: 10px;

}

#phone {
    width: 240px;
}

#modal-submit{
  margin-top: 20px;
  width: 200px;

}

.disclaimer {
  font-size: 0.8em;
}

/*END MODAL*/

/*MEDIA QUERIES */
@media only screen and (max-width: 375px) {

  .hero-section-personal-training .jumbotron {
    height: 200px;
  }

}

@media only screen and (max-width: 500px) {
  #arrow {
    font-size: 4.0em;
    color: rgb(59,185,76);
    padding-top: 60px;
  }
  .carousel-caption {
    top: 30%;

  }

  .hero-section-personal-training .jumbotron {
    height: 200px;
  }

}

@media only screen and (max-width: 570px) {
  .fa {
      margin-top: 30px;
      padding: 8px;
      font-size: 12.5px;
      width: 25px;
      text-align: center;
      text-decoration: none;
  }

  .hero-section-personal-training .jumbotron {
    height: 200px;
  }

}

@media only screen and (max-width: 600px) {
  #arrow {
    font-size: 4.0em;
    color: rgb(59,185,76);
    padding-top: 60px;
  }


  #arrow-location {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 10px;
  }

  .hero-section-personal-training .jumbotron {
    height: 200px;
  }
}

@media only screen and (min-width: 768px) {
  #arrow {
    font-size: 4.0em;
    color: rgb(59,185,76);
    padding-top: 50px;
  }

  #arrow-location {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 90px;
  }

  .hero-section-personal-training .jumbotron {
    height: 300px;
  }
}

@media only screen and (min-width: 900px) {
  #arrow {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 170px;
  }

  #arrow-location {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 90px;
  }

  .footer .icons {
    padding-left: 100px;
  }

  .amenities-block {
    padding-left: 15%;
  }

  .hero-section-personal-training .jumbotron {
    height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  #arrow {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 320px;
  }

  #arrow-location {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 190px;
  }

  .footer .icons {
    padding-left: 200px;
  }

  .amenities-block {
    padding-left: 17%;
  }

  .hero-section-personal-training .jumbotron {
    height: 400px;
  }
}
