/*COLOR REFERENCES

Green:      rgb(59,185,76);
Light Gray: rgb(248,248,248);
Dark Gray:  rgb(56,56,56);

*/

/*GENERAL CSS*/

body {
  margin-top: 50px;

}

/*GLOBAL*/
h1,h2,h3,h4,h5,h6,p,a,button,input,label,select,option,li,em,span,i {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: rgba(56,56,56,.9);

}

/*NAVBAR*/

.navbar-brand {
 margin-top: -9px;
}

.navbar a {
  font-size: 15px;
}



/*CAROUSEL SECTION*/


.slider {
  margin-bottom: 50px;
}


/*INFO SECTION*/


.info a {
  color:inherit;
}

.info .info-content {
  position: absolute;
  top: 60px;
  left: 55px;
  width: 100%;
}

.info .call{
 /*height: 340px;*/
 background-color: lightgray;
 border: solid 1px white;
 padding: 0;
 margin: 0;

}

.info img {
  position: relative;
  opacity: 0.4;
  height: 240px;
  width: 100%;
}

.info h3 {
  background-color: rgba(56,56,56,.8);
  width: 280px;
  padding: 4px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.info h4 {
  font-weight: bold;
  font-size: 1.8em;
  color: black;
}

.info p {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.info .call:hover img {
 opacity: .6;
}

.info .call:hover h3 {
   background-color: rgba(56,56,56,.8);
}

/*CALL TO ACTION SECTION*/
.call-to-action {
  height: 200px;
  margin: 20px 0 20px 0;
  text-align: center;
  background: rgb(59,185,76); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(59,185,76), rgba(59,185,76,.2)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(59,185,76), rgba(59,185,76,.2)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(59,185,76), rgba(59,185,76,.2)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(59,185,76), rgba(59,185,76,.2)); /* Standard syntax */

}



.call-to-action button{
  width: 300px;
  padding: 15px;

}


/*AMENITIES SECTION*/

.amenities {
  background-color: rgb(56,56,56);
  padding: 2px 0 43px 0;
}

.amenities .items {
  padding: 0;
  margin: 0;
  border: 1px solid white;

}

.amenities .container h3 {
  position: absolute;
  background-color: white;
  color: rgba(56,56,56,.8);
  padding: 6px;
  top: 60%;
  font-size: 1.4em;
}
.amenities .amenities-content  {
  position: absolute;
  top: 65%;
  left: 20px;
  width: 100%;
  transform:rotate(3deg);
}

.amenities .items img {
  opacity: 0.8;
  height: 240px;
  width: 100%;
}

.amenities .items:hover img {
  opacity: 1.0;
}

.amenities .items:hover h3{
  background: rgba(66,255,27,.8);
  color: white;
}



/********************************* LOCATION PAGE*************************/

.location-form {
  margin-top: -50px;
  padding-top: 40px;
  padding-bottom: 20px;
}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    text-decoration: none;
    background: rgba(66,255,27,.8);
    outline: 0;
    color: rgba(56,56,56,.9);
}

.form-inline input {
  margin: 8px;
}

#btn-submit {
  width: 200px;
  margin-bottom: 20px;
}

.location-form ul {
  list-style: none;
  padding: 0;
}

.location-form h2, h3 {
  padding: 0 0 15px 0;
  margin: 0;
}



.row .maps {
  padding-top: 100px;
}

.location-form i {
  font-size: 1.0em;
  padding: 5px;;
  margin: 0;

}

#location-info {
  background-color: rgb(56,56,56);

}

#location-info .location-info-content p, h2, h4{
  color: white;

}

.location-amenities {
  /*background-color: rgba(63,255,38,.6);*/
}

.location-amenities h2 {
  text-align: center;

}


#location-header {
  padding:0 0 5px 0;
  margin: 0;
  color: rgba(56,56,56,.9);
}

.amenities h3 {
  background-color: rgb(59,185,76);
  color: white;
  padding: 10px;
}

.amenities p {
  background-color: rgb(56,56,56);
  color: white;
  padding: 10px;
}

.location-amenities .amenities {
  height:340px;
  background-color: rgb(56,56,56);
  padding:0px;
  margin: 10px;
}

/****************************** END LOCATION PAGE*************************/

/*******************************GUEST PASS PAGE**************************/
.amenities #pass-amenities {
  padding: 40px 0 0px 0;
}

#pass-page-button {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.guest-pass-form {
  margin-bottom: 50px;
}

#pass-header {
  color: rgb(56,56,56);
}

#pass-sub-head {
  color: rgb(56,56,56);
}

/*****************************END GUEST PASS PAGE************************/

/************************PERSONAL TRAINING PAGE**************************/
.hero-section-personal-training .jumbotron {

}


.pt-content ul{
  list-style: none;
  padding: 0;
}

.pt-content li {
  padding: 0;
}

.pt-content i {
  font-size: 1.0em;
  padding: 5px;;
  margin: 0;
}

#book-assessment{
  font-size: 1.2em;
  margin: 40px 0 0 50px;
}

#book-assessment i {
  padding: 0;
  margin-right: -14px;
}

.pt-content .pt-info {
  height: 200px;
  border: solid gray 1px;

}

.assessment-content .form-group {
  margin-bottom: 20px;
  margin-top: 10px;
}

.assessment-content .form-group input {

}

/********************END PERSONAL TRAINING PAGE**************************/


/**************************CHALLENGE PAGE*******************************/
  #challenge-details {
    list-style: none;
  }

  #challenge-details li{
    padding:0;
    margin: 0;
  }

  #challenge-details i{
    font-size: 1.0em;
    padding: 5px;;
    margin: 0;
  }

  #success-stories {
    height: 400px;
    background-color: rgb(56,56,56);
    color: white;
    
  }

/***********************END CHALLENGE PAGE*******************************/

/**************************BLOG PAGE*******************************/
  .blog-title {
    color: rgb(59,185,76);
  }

  .blog-content {
      color: rgba(56,56,56,.9);
  }

  .post .post-body p {
      color: rgba(56,56,56,.9);
  }

  .post-body {
    padding-top: 10px;
  }
/***********************END BLOG PAGE*******************************/

/*FOOTER*/

footer {
  margin-top: 30px;
  background-color: rgb(248,248,248);
  border-top: solid 8px rgb(112,112,112);
  height: 120px;
}

.footer span {
  font-size: 12px;
  position: absolute;
  left: 50px;
  top: 30px;
}


/*SOCIAL MEDIA ICONS*/
/* Style all font awesome icons */
.fa {
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/*END FOOTER*/

.form-group {
  margin: 4px;
}

/*MODAL*/
#first-name {
  width: 240px;
  margin-right: 10px;

}

#last-name {
  width: 240px;
}

#email {
    width: 240px;
      margin-right: 10px;

}

#phone {
    width: 240px;
}

#modal-submit{
  margin-top: 20px;
  width: 200px;

}

.disclaimer {
  font-size: 0.8em;
}

#myModalLabel {
  color: rgba(56,56,56,.9);
  text-align: center;
}

#modal-p {
  color: rgba(56,56,56,.9);
  text-align: center;
}
/*END MODAL*/

/*MEDIA QUERIES */
/*@media only screen and (max-width: 375px) {

  .hero-section-personal-training .jumbotron {
    height: 200px;
  }

  .hero-section-challenge .jumbotron {
      height: 200px;
  }

  .hero-section-join .jumbotron {
      height: 200px;
  }

  .hero-section .guest-pass {
    height: 200px;
  }

}*/

@media only screen and (max-width: 400px) {


  #arrow-location  {
    font-size: 8.0em;
    color: rgb(59,185,76);
    margin-top: -22px;
  }

}

@media only screen and (max-width: 500px) {
  #arrow {
    font-size: 4.0em;
    color: rgb(59,185,76);
    padding-top: 60px;
  }
  .carousel-caption {
    top: 30%;

  }

  .hero-section-personal-training .jumbotron {
    height: 200px;
  }

  .hero-section-challenge .jumbotron {
      height: 200px;
  }

  .hero-section-join .jumbotron {
      height: 200px;
  }

  .hero-section .guest-pass {
    height: 200px;
  }

  .hero-section-blog .jumbotron {
      height: 200px;
  }

}

@media only screen and (max-width: 570px) {
  .fa {
      margin-top: 30px;
      padding: 8px;
      font-size: 12.5px;
      width: 25px;
      text-align: center;
      text-decoration: none;
  }

  .hero-section-personal-training .jumbotron {
    height: 200px;
  }

  .hero-section-challenge .jumbotron {
      height: 200px;
  }

  .hero-section-join .jumbotron {
      height: 200px;
  }

  .hero-section .guest-pass {
    height: 200px;
  }

  .hero-section-blog .jumbotron {
      height: 200px;
  }

}

@media only screen and (max-width: 600px) {


  #arrow-location {
    position:
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 0px;
  }

  .hero-section-personal-training .jumbotron {
    height: 200px;
  }

  .hero-section-challenge .jumbotron {
      height: 200px;
  }

  .hero-section-join .jumbotron {
      height: 200px;
  }

  .hero-section .guest-pass {
    height: 200px;
  }

  .hero-section-blog .jumbotron {
      height: 200px;
  }
}

@media only screen and (min-width: 768px) {
  /*#arrow {
    font-size: 4.0em;
    color: rgb(59,185,76);
    padding-top: 50px;
  }*/

  #arrow-location {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 90px;
  }

  .hero-section-personal-training .jumbotron {
    height: 300px;
  }

  .hero-section-challenge .jumbotron {
      height: 300px;
  }

  .hero-section-join .jumbotron {
      height: 300px;
  }

  .hero-section .guest-pass {
    height: 300px;
  }

  .hero-section-blog .jumbotron {
      height: 300px;
  }
}

@media only screen and (min-width: 900px) {
  /*#arrow {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 170px;
  }*/

  #arrow-location {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 90px;
  }

  .footer .icons {
    padding-left: 100px;
  }

  .amenities-block {
    padding-left: 15%;
  }

  .hero-section-personal-training .jumbotron {
    height: 300px;
  }

  .hero-section-challenge .jumbotron {
      height: 300px;
  }

  .hero-section-join .jumbotron {
      height: 300px;
  }

  .hero-section .guest-pass {
    height: 300px;
  }

  .hero-section-blog .jumbotron {
      height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  /*#arrow {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 320px;
  }*/

  #arrow-location {
    font-size: 8.0em;
    color: rgb(59,185,76);
    padding-top: 190px;
  }

  .footer .icons {
    padding-left: 200px;
  }

  .amenities-block {
    padding-left: 17%;
  }

  .hero-section-personal-training .jumbotron {
    height: 400px;
  }

  .hero-section-challenge .jumbotron {
      height: 400px;
  }


  .hero-section-join .jumbotron {
      height: 400px;
  }

   .hero-section .guest-pass {
     height: 400px;
   }

   .hero-section h1 {

      padding-top: 5%;
   }

   .hero-section-blog .jumbotron {
       height: 400px;
   }

   /*CREATES DIV OVERLAP*/
    .drop {
     height: 400px;
   }

}
